#navbar {
    flex-direction: column;
}

#navbar ul {
    flex-direction: column;
}

#home {
    height: auto;
    padding: 80px 20px;
}

.h-primary {
    font-size: 2rem;
}

#services {
    flex-direction: column;
}

#contact-box form {
    width: 90%;
}

#clients {
    flex-wrap: wrap;
}
